<div class="example-form-fields">

<p style="margin-right: 20px;margin-left: 20px;">非洲大陆</p>
<p  style="margin-right: 20px;margin-left: 20px;" routerLink="/routing/first" class="example-form-detail">古代神话</p>

  <p  style="margin-right: 20px;margin-left: 20px;" routerLink="/lifeCycle/drillingTool" class="example-form-detail">生命回溯</p>
  <p  style="margin-right: 20px;margin-left: 20px;" routerLink="/assetSystem/assetManagement" class="example-form-detail">我的钱包</p>
  <p  style="margin-right: 20px;margin-left: 20px;" routerLink="/systemSettings/inspectionItems" class="example-form-detail">功能设置</p>

  <p  style="margin-right: 20px;margin-left: 20px;" routerLink="/tool/swagger" class="example-form-detail">常用工具</p>
  <p  style="margin-right: 20px;margin-left: 20px;" routerLink="/system/user" class="example-form-detail">统筹规划</p>

</div>
