<div class="example-form-fields">
  <div>
    <p routerLink="/assetSystem/assetManagement" class="example-form-detail">银行卡</p>
    <p routerLink="/assetSystem/inboundManagement" class="example-form-detail">小金库</p>
    <p routerLink="/assetSystem/wellSupplyCirculation" class="example-form-detail">账单</p>
    <p routerLink="/assetSystem/inWellInspection" class="example-form-detail">支付安全</p>

    <p routerLink="/assetSystem/recycleManagement" class="example-form-detail">垃圾分类</p>
    <p routerLink="/assetSystem/warehouseManagement" class="example-form-detail">保险柜</p>
    <p routerLink="/assetSystem/assetTransfer" class="example-form-detail">出国计划</p>
    <p routerLink="/assetSystem/salesManagement" class="example-form-detail">在线商城</p>

    <p routerLink="/assetSystem/wellTeamManagement" class="example-form-detail">家庭成员</p>
    <p routerLink="/assetSystem/inventoryManagement" class="example-form-detail">家庭房地产</p>
    <p routerLink="/assetSystem/scrapManagement" class="example-form-detail">厨余垃圾分类</p>
  </div>
  <router-outlet></router-outlet>
</div>
