<div class="example-form-fields">
  <div>
    <p routerLink="/systemSettings/inspectionItems" class="example-form-detail">汽车年检</p>
    <p routerLink="/systemSettings/maintenanceItems" class="example-form-detail">汽车维修</p>
    <p routerLink="/systemSettings/processConfiguration" class="example-form-detail">检修流程</p>
    <p routerLink="/systemSettings/classifyManagement" class="example-form-detail">汽车分类</p>
    <p routerLink="/systemSettings/alterSetting" class="example-form-detail">年检报告</p>
    <p routerLink="/systemSettings/levelSetting" class="example-form-detail">欠费缴纳</p>
    <p routerLink="/systemSettings/projectDepartmentSettings" class="example-form-detail">汽车保养</p>
  </div>
  <router-outlet></router-outlet>
</div>
